name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_esp32:

    name: build esp32

    runs-on: ubuntu-latest

    strategy:
      matrix:
        fqbn:
          - esp32:esp32:esp32

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile sketch
        uses: arduino/compile-sketches@v1
        with:
          fqbn: ${{ matrix.fqbn }}
          platforms: |
            - name: esp32:esp32
              source-url: https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json
              version: 2.0.18
          sketch-paths: |
            - ./
          libraries: |
              - source-url: https://github.com/marcel-licence/ML_SynthTools.git
                name: ML_SynthTools
              - source-url: https://github.com/marcel-licence/ML_SynthTools_Lib.git
                name: ML_SynthTools_Lib
              - source-url: https://github.com/adafruit/Adafruit-GFX-Library.git
                name: Adafruit_GFX_Library
                version: 1.10.10
              - source-url: https://github.com/adafruit/Adafruit_SSD1306.git
                name: Adafruit_SSD1306
                version: 2.4.5
              - source-url: https://github.com/adafruit/Adafruit_BusIO.git
                name: Adafruit BusIO
                version: 1.14.1
